<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">
    <appender name="MAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.base}/logs/portlets/ExampleSecurityPortlet/ExampleSecurityPortlet.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${catalina.base}/logs/portlets/ExampleSecurityPortlet/ExampleSecurityPortlet.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="org.jasig.portlet.spring.portlet.test" level="TRACE" additivity="false">
        <appender-ref ref="MAIN" />
    </logger>
   
    <root level="DEBUG">
        <appender-ref ref="MAIN" />
    </root>
</configuration>

